<h1>Gett Off Your Ass and Workout</h1>

<ul>
  {{#each workout}}
    <li><a href="/workout/{{@index}}"><h2>{{name}}</h2></a></li>
  {{/each}}
</ul>

<form action="/workout/new">
    <input type="submit" value="Create a New Workout" />
</form>
<form action="/workout/{{@index}}?_method=DELETE" method="POST"
