<h1>Plan a new workout</h1>
<form action='/workout' method="POST">
  <input type="text" name="day" placeholder="Day"><br>
  <input type="text" name="warmup" placeholder="Warmup"><br>
  <input type="text" name="heavy" placeholder="Heavy"><br>
  <input type="text" name="cooldown" placeholder="Cooldown"><br>
  <input type="submit" value="Create New Workout">
</form>
