h1{
  text-align: center;
}
header nav{
  letter-spacing: .1em;
}
header nav a{
  color: #191970;
  margin: 0 30px;
  transition: color .3s;
  vertical-align: top;
  font-size: 1.2em;
  display: inline-block;
  background-color: #F0F8FF;
}
a {
  text-decoration: none!important;
  font-family: 'Baloo', cursive;
  background-color: transparent;
}
