<h2>Add Another Workout</h2>
<h1>{{newWorkout.day}}</h1>



<form ng-submit="workout.addWorkout(day)">
  <input type="text" ng-model="day.day" placeholder="day"></input>
  <input type="text" ng-model="day.warmup" placeholder="warmup"></input>
  <input type="text" ng-model="day.heavy" placeholder="heavy"></input>
  <input type="text" ng-model="day.cooldown" placeholder="cooldown"></input>
  <button type="submit">Post</button>
</form>






<!-- <button ng-click="workout.addWorkout(day)">POST WORKOUT</button> -->

<!-- <button ng-click="workout.addWorkout()" type="button" name="button">ADD SOME REAL</button>
    <ul ng-repeat="days in workout.week | limitTo : 5">
      <li><span>DAY1 {{days.day}}</span></li>
      <li><span>WARMUP:........{{ days.warmup }}</span></li><br>
      <li><span>HEAVY:............{{ days.heavy }}</span>  </li><br>
      <li><span>COOLDOWN:..{{ days.cooldown }}</span></li>
    </ul> -->



     <!-- <button ng-init="workout.addWorkout()" type="button" name="button">ADD SWOLL</button>
<div ng-repeat="day in workout.addWorkout" class="">
    <form  >
      <input type="text" ng-model="day.day" placeholder="day">
      <input type="text" ng-model="day.warmup" placeholder="warmup">
      <input type="text" ng-model="day.heavy" placeholder="heavy">
      <input type="text" ng-model="day.cooldown" placeholder="cooldown">
      <button type="submit">CREATE</button>

  </form>
</div> -->



  <!-- <ul class="workout-show">
    <li>Day: {{day.day}}</li>
    <li>warmup: {{fitDay.warmup}}</li>
    <li>heavy: {{workout.heavy}}</li>
    <li>cooldown: {{workout.cooldown}}</li>
  </ul>

    <a href="/workout">Back Home</a> -->

    <!-- <h1>Plan a new workout</h1> -->
    <!-- <form action='/workouts/:id' method="GET">
      <input type="text" name="day" placeholder="Day">
      {{day.day}}
      <input type="text" name="warmup" placeholder="Warmup">
        {{workout.heavy}}
      <input type="text" name="heavy" placeholder="Heavy">

      <input type="text" name="cooldown" placeholder="Cooldown">
      <input type="submit" value="Create New Workout">
    </form> -->
